{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "import",                                                                                                              
    "react",                                                                                                               
    "jsx-a11y" 
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "import/no-extraneous-dependencies": [2, {}],
    "linebreak-style": 0,
    "no-console": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0
  }
}