@import "colors";

.floating-action-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 100;

  button {
    position: relative;
    overflow: visible !important;
    background-color: $primary-color !important;
  }

  &:hover {
    button {
      background-color: lighten($primary-color, 20%) !important;

      div {
        div {
          background-color: transparent !important;
        }
      }
    }
  }
}